<h1>Car list</h1>
<form>
    <div class="form-group">
        <label for="companySelect">Car manufacturer</label>
        <select class="form-control" id="companySelect" data-bind="options: AllCompanies,
                       optionsText: 'name',
                       value: SelectedCompany,
                       optionsCaption: 'All'">
        </select>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Car company</th>
            <th scope="col">Car Name</th>
            <th scope="col">Initial price</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: VisibleCars">
        <tr>
            <td data-bind="text: carCompany.name"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: basePrice"></td>
            <td><a href="#"></a></td>
        </tr>
    </tbody>
</table>
